body {
    background-color: antiquewhite;
}
footer {
    text-align: center;
}
header {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
nav a:hover {
    background-color: #cf8d22c5;
    color: aliceblue;

}
nav a {
    text-decoration: none;
    color: rgb(147, 52, 52);
    padding: 15px;
    transition: 1s;
}
.container {
    background-color:burlywood;
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
}
.title {
                color: rgb(147, 52, 52);
                font-size: 30px;
            }
.h1 {
    color: rgb(147, 52, 52);
    text-align: center;
}

        