body {
    background-color: rgb(249, 224, 204);
}
footer {
    text-align: center;
}
header {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
nav a:hover {
    background-color: #cf8d22c5;
    color: rgb(243, 242, 174);

}
nav a {
    text-decoration: none;
    color: rgb(177, 63, 21);
    padding: 15px;
    transition: 1s;
}
.container {
    background-color:rgba(221, 218, 213, 0.29);
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
}
.title {
                color: rgb(144, 22, 22);
                font-size: 30px;
            }
.h1 {
    color: rgb(147, 52, 52);
    text-align: center;
}
.error {
color: rgb(255, 4, 4);
}

        